*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 45px;
    position: relative;
    background-color: rgb(10, 10, 9);
}
nav{
    width: 70%;
    height: 60px;
    position: absolute;
}
.delete{
    margin-left: 60px;
    margin-top: 13px;
    color: red;
}
.code{
    margin-left: 230px;
    margin-top: -19px;
    color: red;
}
p{
    margin-left: 130%;
    margin-top: -21px;
    font-weight: bolder;
    color: white;
}
.menu{
    width: 142.9%;
    height: 100px;
    position: relative;
    background-color: blue;
    margin-top: 16px;
}
.logo{
    width: 25%;
    height: 70px;
    position: absolute;
    top: 10px;
    left: 20px;
}
img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 48px;
    left: 20px;
    border-radius: 50PX;
}
.port{
    width: 70px;
    height: 20px;
    font-size: xx-large;
    font-weight: 500;
    color: aqua;
    position: absolute;
    top: 60px;
    left: 130px;
}
.panel{
    width: 105px;
    height: 20px;
    font-size: larger;
    color: aliceblue;
    background-color: rgb(14, 15, 104);
    position: absolute;
    top: 95px;
    left: 155px;
}
.sort{
    top: 60px;
    left: 80%;
    position: absolute;
    color: black;
    font-size: x-large;
    font-weight: 300;
}
.side{
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    color: black;
    top: 110px;
    left: 58%;
    width: 55%;
    height: 40px;
    font-size: x-small;
}
.bont{
    width: 142.9%;
    height: 40px;
    position: absolute;
    background-color: rgb(8, 158, 245);
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    display: flex;
}
a{
    color: aliceblue;
    list-style-type: none;
    text-decoration: none;
    padding-left: 85px;
    padding-right: 75px;
    margin-top: 12px;
}
.lap{
    background-color: red;
    padding: 15px 80px;
    padding-left: 15px;
    padding-right: 50px;
    height: 40px;
    width: 40px;
    margin-top: auto;
    top: -17px;
    left: 30px;
}
.top{
    background-color: black;
    padding: 15px 80px;
    padding-left: 15px;
    padding-right: 40px;
    height: 40px;
    width: 40px;
    margin-top: -1px;
}



